

/* .test *{
    color: #b7ff00 !important;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: telegraf;
    src: url('/fonts/PPTelegraf-Regular.otf');
  }

  @font-face {
    font-family: garet;
    src: url('/fonts/Garet-Book.ttf');
  }

.telegraf{
    font-family: telegraf !important;
}

.garet{
    font-family: garet;
}

html{
    scroll-behavior: smooth;
    background-color: #19012b !important;
}

.carousel-container {
    width: 100% !important;
}

.creativeHover > div{
    transform: translateY(100%);
    visibility: hidden;
    display: flex;
    /* width: 200px; */
    transition: all 0.5s !important;
}

.creativeHover:hover > div{
    /* display: flex !important; */
    visibility: visible;
    /* width: 1000px; */
    transform: translateY(0%) !important;
}

@media  screen and (max-width: 700px) {
    
    .swiper-slide{
        display: flex !important;
        justify-content: center;
    }
}